---
layout: home
title: Home
---

<h1>
    <center>Optimism Public Changelog</center>
</h1>

<h2>What is this?</h2>

<p>
    This page tracks which software versions we release and the environments we deploy them to.
</p>

<h2>Release Cycle</h2>

<p>
    Optimism releases new software every Tuesday and Thursday at 7PM UTC. Software is released on Kovan first, followed
    by mainnet a week later.
</p>

<p>
    Each "release" consists of multiple software packages. The package versions listed in release describe what was
    actually deployed to each environment. Note that we create many more software packages than we actually deploy to
    production.
</p>

<p>
    Some releases are more important than others. Those that require action are marked with a "critical" tag in the list
    below. We may release critical software updates outside our regular release cycle at our discretion.
</p>

<p>
    We recommend subscribing to our <a href="./feed.xml">RSS feed</a> or the <a href="https://groups.google.com/a/optimism.io/g/optimism-announce">optimism-announce@optimism.io mailing list</a>. Both will allow you to be notified when we release new software.
</p>

<h2>Supported Environments</h2>

<table cellpadding="6" border="1">
    <tbody>
    <tr>
        <th>Mainnet</th>
        <td>
            <ul class="versions">
                <li><strong>Public Endpoint:</strong> <a
                        href="https://mainnet.optimism.io">https://mainnet.optimism.io</a></li>
                <li><strong>Block Explorer:</strong> <a href="https://optimistic.etherscan.io">https://optimistic.etherscan.io</a>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>Kovan</th>
        <td>
            <ul class="versions">
                <li><strong>Public Endpoint:</strong> <a href="https://kovan.optimism.io">https://kovan.optimism.io</a>
                </li>
                <li><strong>Block Explorer:</strong> <a href="https://kovan-optimistic.etherscan.io">https://kovan-optimistic.etherscan.io</a>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<h2>Releases</h2>

{% for release in site.posts %}
<h3>
    <a href="{{ release.url }}">
        {{ release.date | date: "%Y-%m-%d" }} - {{ release.title }}
        {% if release.critical %}
        <span class="critical-badge">Critical</span>
        {% endif %}
    </a>
</h3>

{{release.content}}

<h4>Changelog:</h4>

<table border="1">
    <thead>
    <tr>
        <th>Mainnet</th>
        <th>Kovan</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td valign="top">
            <ul class="versions">
                {% for pkg in release.packages.mainnet %}
                <li>
                    <strong>{{pkg.name}}</strong>:
                    <a href="https://github.com/ethereum-optimism/optimism/releases/tag/%40eth-optimism%2F{{pkg.name}}%40{{pkg.version}}"
                       target="_blank">
                        {{pkg.version}}
                    </a>
                </li>
                {% else %}
                <li>No packages were released to mainnet.</li>
                {% endfor %}
            </ul>
        </td>
        <td valign="top">
            <ul class="versions">
                {% for pkg in release.packages.kovan %}
                <li>
                    <strong>{{pkg.name}}</strong>:
                    <a href="https://github.com/ethereum-optimism/optimism/releases/tag/%40eth-optimism%2F{{pkg.name}}%40{{pkg.version}}"
                       target="_blank">
                        {{pkg.version}}
                    </a>
                </li>
                {% else %}
                <li>No packages were released to Kovan.</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    </tbody>
</table>
{% endfor %}