$backgroundColor: #ffffff;
$bodyColor: #333;

@import './typography.scss';

body {
  background: $backgroundColor;
  color: $bodyColor;
}

#content {
  max-width: 700px;
  margin: 0 auto;
}

.versions {
  margin-bottom: 0;
  padding: 0.75em 0;
}

.critical-badge {
  background: red;
  border-radius: 3px;
  padding: 2px 3px;
  color: white;
  font-size: small;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none !important;
  display: inline-block;
  float: right;
}